<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kirvesmuhaajat master list</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Kirvesmuhaajat master list</h1>
{% for group in resolver.mods|sort(attribute='data_type')|groupby('data_type') %}
    <h3>{{ group.grouper }} ({{ group.list|length }})</h3>
    <table>
    {% for mod in group.list|sort(attribute='title') %}
    <tr>
        <td><a href="{{mod.url}}">{{ mod.title }}</a></td>
    </tr>
    {% endfor %}
    </table>
{% endfor %}
</body>
</html>
