<?xml version="1.0" encoding="utf-8"?>
<html>
  <!--Created by Arma 3 Launcher: https://arma3.com-->
  <head>
    <meta name="arma:Type" content="list" />
    <meta name="generator" content="Arma 3 Modmanager - https://gitlab.com/arma3-server-tools/modmanager" />
    <title>Arma 3 Mods</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <style>
body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #000;	
}

body, th, td {
	font: 95%/1.3 Roboto, Segoe UI, Tahoma, Arial, Helvetica, sans-serif;
}

td {
    padding: 3px 30px 3px 0;
}

h1 {
    padding: 20px 20px 0 20px;
    color: white;
    font-weight: 200;
    font-family: segoe ui;
    font-size: 3em;
    margin: 0;
}

em {
    font-variant: italic;
    color:silver;
}

.before-list {
    padding: 5px 20px 10px 20px;
}

.mod-list {
    background: #222222;
    padding: 20px;
}

.footer {
    padding: 20px;
    color:gray;
}

.whups {
    color:gray;
}

a {
    color: #D18F21;
    text-decoration: underline;
}

a:hover {
    color:#F1AF41;
    text-decoration: none;
}

.from-steam {
    color: #449EBD;
}
.from-local {
    color: gray;
}

</style>
  </head>
  <body>
    <h1>Arma 3 Mods</h1>
    <p class="before-list">
      <em>Drag this file or link to it to Arma 3 Launcher or open it Mods / Preset / Import.</em>
    </p>
    <div class="mod-list">
      <table>
    {%- for mod in resolver.ordered_deps %}{% if mod.data_type not in excluded_types %}
        <tr data-type="ModContainer">
          <td data-type="DisplayName">{{ mod.title }}</td>
          <td>
            <span class="from-steam">Steam</span>
          </td>
          <td>
            <a href="{{ mod.url }}" data-type="Link">{{ mod.url }}</a>
          </td>
        </tr>
    {%- endif %}{% endfor %}
      </table>
    </div>
    <div class="footer">
      <span>Created by <a href="https://gitlab.com/arma3-server-tools/modmanager">Arma 3 Modmanager</a> by Taneli Kaivola / Dist.</span>
    </div>
  </body>
</html>
